/* General */
body {
    font-family: Helvetica;
    color: white;
}

a {
    color: lightgrey;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: lightblue;
}

/* Main page */

#main {
    background-color: #004692;
}

#main h1 {
    top: 40%;
    left: 50%;
    position: absolute;

    width: 1000px;
    height: 100px;
    margin: -50px 0 0 -500px;

    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

#main h2 {
    top: 50%;
    left: 50%;
    position: absolute;
    
    width: 1000px;
    height: 100px;
    margin: -50px 0 0 -500px;

    font-weight: lighter;
    font-size: 22px;
    text-align: center;

}

/* About */

#about {
    background-color: forestgreen;
}

#about h1 {
    top: 14%;
    left: 50%;
    position: absolute;
    
    width: 1000px;
    height: 100px;
    margin: -50px 0 0 -500px;

    font-size: 40px;
    text-align: center;
}

#about img {
    float: right;
    margin: 10% 5% 0 0;
    max-width: 50%;
    max-height: 70%;
}

#about p {
    float: left;
    margin: 10% 0 0 5%;
    max-width: 50%;
    font-size: 18px;
    line-height: 25px;
}

/* Contact */

#contact {
    background-color: #FF8738;
}

#contact h1 {
    top: 14%;
    left: 50%;
    position: absolute;
    
    width: 1000px;
    height: 100px;
    margin: -50px 0 0 -500px;

    font-size: 40px;
    text-align: center;
 
}

#contact p {
    margin: 15% 0 0 5%;
    font-size: 25px;
    line-height: 32px;
}
