.menu-icon {
    float: right;
    margin-top: -130px;
    margin-right: 270px;
    color: #e65c00;
    font-size: 30px;
}

/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #d9d9d9;
  transition: transform 0.3s;
  padding: 0;
  margin: 0;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 150px;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  background-color: #d9d9d9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3 height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.c-menu--slide-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-right {
    width: 250px;
  }
}
.c-menu--slide-right .c-menu__item {
  display: block;
  text-align: center;
}

.c-menu--slide-right .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-right .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-right .c-menu__link {
  display: block;
  padding: 12px 12px;
  color: #e65c00;
  font-size: 30px;
}

.c-menu--slide-right .c-menu__close
{
  display: block;
  padding: 12px 12px;
  width: 100%;
}

.c-menu--slide-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-right {
    transform: translateX(300px);
  }
}

.c-menu--slide-right.is-active {
  transform: translateX(0);
}
